# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.python-*
.pytest_cache/
.ipynb_checkpoints/
*.ipynb

# Виртуальные окружения
venv/
env/
.venv/
venv*/
ENV/

# Системные файлы
.DS_Store
Thumbs.db
desktop.ini

# Конфигурационные файлы
.env
*.cfg
*.local
settings.ini

# Логи и отладочные данные
debug.log
*.bak
*.tmp

# PyCharm
.idea/
*.iml
